
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 7px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .nav-list ul{
    position: relative;
    display: flex;
  }
  
  .nav-list ul li{
    list-style: none;
    margin-right: 1rem;
  }
  
  .nav-list a{
    text-decoration: none;
  }
  
  .logo{
    font-size: 25px;
    font-weight: bold;
  }